{% extends "base.html" %}

{% block title %}{{article.title}}{% endblock %}
{% block description %}{{article.description}}{% endblock %}
{% block current_url %}{{ SITEURL }}/{{article.url}}{% endblock %}

{% block icon %}{{article.icon}}{% endblock %}

{% block main %}
<article>
    <header>
        <h1>{{article.title}}</h1>
        <span class="publication-date">
            <time datetime="{{article.date|strftime('%Y-%m')}}">{{article.locale_date|capitalize}}</time>, Alexis Couronne - 
            [
            {% for tag in article.tags %}
                <a href="{{tag.url}}">{{tag}}</a>{% if not loop.last %} :: {% endif %}
            {% endfor %}
            ]
        </span>
    </header>
    <div id="ticket-content" class="ticket-content">
        {{article.content}}
    </div>
    <hr class="hr">
    <div>
        <ul class="pagination">
        {% if article.status != 'draft' %}
            {% if articles.index(article) < articles|length - 1 %}
                <li><a href="{{ SITEURL }}/{{articles[articles.index(article) + 1].url}}" rel="prev">&laquo; Précédent</a></li>
            {% endif %}
            {% if  articles.index(article) > 0 %}
                <li><a href="{{ SITEURL }}/{{articles[articles.index(article) - 1].url}}" rel="next">Suivant &raquo;</a></li>
            {% else %}
                <li></li>
            {% endif %}
        {% endif %}
        </ul>
    </div>
    <footer>
      <p>Des appréciations, des remarques, des questions ? N'hésitez pas à <a href="mailto:{{ EMAIL }}">me contacter</a>.</p>
        <p>Suivez moi sur <a href="https://twitter.com/skitoo/" title="Compte Twitter">Twitter</a> et sur <a href="https://github.com/skitoo/" title="Compte Github">Github</a>.</p>
    </footer>
</article>
{% endblock %}
