<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="canonical" href="{% block current_url %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ AUTHOR }}">
    <link href="{{ SITE_URL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="Skitoo ATOM Feed" />
    {% block css %}
    <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/whhg.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/monokai.css" rel="stylesheet">
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ SITEURL }}/theme/img/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ SITEURL }}/theme/img/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ SITEURL }}/theme/img/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ SITEURL }}/theme/img/apple-touch-icon-57.png">
  </head>

  <body>
    <div class="container">
    <header id="header" class="header">
        <nav class="header-content">
            {% block header %}
            <div class="logo">
                <a href="{{ SITEURL }}" title="Skitoo.net"><img src="{{ SITEURL }}/theme/img/logo-skitoo.png" alt="Alexis Couronne" width="140" height="44"></a>
            </div>
            <ul class="menu">
              <li><a href="{{ SITEURL }}/journal.html">journal</a></li>
              <li><a href="{{ SITEURL }}/projets.html">projets</a></li>
              <li><a href="{{ SITEURL }}/colophon.html">colophon</a></li>
            </ul>
            {% endblock %}
        </nav>
    </header>

    <div id="content" class="content">
        {% block content %}
        <div id="sidebar" class="sidebar">
        {% block sidebar %}
        <div class="icon icon-{% block icon %}threed{% endblock %}"></div>
        {% endblock %}
        </div>
        <main id="main" class="main">
        {% block main %}{% endblock %}
        </main>
        {% endblock %}
    </div>

    <footer id="footer" class="footer">
    {% block footer %}
        <ul>
          <li><a href="mailto:{{ EMAIL }}" title="Mail de Contact"><i class="icon-envelope"></i> Contact</a></li>
            <li><a href="{{ SITE_URL }}/{{ FEED_ALL_ATOM }}" title="Flux RSS"><i class="icon-rss"></i> RSS</a></li>
            <li><a href="https://github.com/skitoo/" title="Compte Github"><i class="icon-github"></i> Github</a></li>
            <li><a href="https://twitter.com/skitoo/" title="Compte Twitter"><i class="icon-twitter"></i> Twitter</a></li>
            <li><a href="{{ SITEURL }}/journal.html"><i class="icon-book"></i> Journal</a></li>
            <li><a href="{{ SITEURL }}/projets.html"><i class="icon-flaskfull"></i> Projets</a></li>
            <li><a href="{{ SITEURL }}/colophon.html"><i class="icon-leaf"></i> Colophon</a></li>
        </ul>
        <p id="copyright" class="copyright">© {{CURRENT_DATE.year}} Alexis Couronne</p>
    {% endblock %}
    </footer>
    </div>
    {% block javascript %}
    {% endblock %}
    {% include "googleanalytics.html" %}
    {% include "gauges.html" %}
    {% include "piwik.html" %}
  </body>
</html>
