{% extends "base.html" %}


{% block title %}Conférences{% endblock %}
{% block description %}Passionné par le web, le jeu vidéo et de l'électronique. Je réalise des projets OpenSource et je suis photographe amateur.{% endblock %}
{% block current_url %}{{ SITEURL }}/conferences.html{% endblock %}
{% block icon %}microphonealt{% endblock %}

{% block main %}

<h1>Conférences</h1>
<section>
  <article>
    <h3>Découverte de Ansible</h3>
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Jp6sb2_aQOg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </article>
  <article>
    <h3>Découverte du langage Elm</h3>
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MxscpuBiwvw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </article>
  <article>
    <h3>Vim expliqué à ma grand-mère</h3>
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IHp5p6cN-jE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </article>
</section>

{% include "follow-me.html" %}

{% endblock %}
