{% extends "base.html" %}

{% block title %}Alexis Couronne - Journal{% endblock %}
{% block description %}Journal d'un développeur Python -  Flash/AS3{% endblock %}
{% block current_url %}{{ SITEURL }}/journal.html{% endblock %}

{% block icon %}book{% endblock %}

{% block main %}

<h1>Journal</h1>  
{% for grouped_by_year in articles|groupby('date.year')|sort(reverse=True) %}
    <div class="archive-year">{{grouped_by_year.grouper}}</div>  
    <ul>
    {% for ticket in grouped_by_year.list %}
        <li><a href="{{ticket.url}}">{{ticket.title}}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

{% include "follow-me.html" %}

{% endblock %}