<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <url>
      <loc>{{ SITEURL }}</loc>
      <priority>1</priority>
   </url>
{% for ticket in articles %}
    <url>
      <loc>{{ SITEURL }}/{{ticket.url}}</loc>
      <priority>0.2</priority>
   </url>
{% endfor %}
<!-- pages -->
{% for page in pages %}
    <url>
      <loc>{{ SITEURL }}/{{page.url}}</loc>
      <priority>0.5</priority>
   </url>
{% endfor %}
    <url>
      <loc>{{ SITEURL }}/photos.html</loc>
      <priority>0.5</priority>
   </url>
   <url>
      <loc>{{ SITEURL }}/journal.html</loc>
      <priority>1</priority>
   </url>
</urlset> 